header {
    width: 100%;
    height: 90px;
    background-color: $two_color;
    position: relative;
    .cl_header {
        display: flex;
        height: 100%;
        .logo {
            display: flex;
            align-items: center;
            img {
                height: 45px;
                width: 45px;
                margin-right: 32px;
            }
            .happycars {
                color: #8B8B8B;
                font-size: 40px;
                line-height: 50px;
                font-family: "RobotoMonoBold";
            }
        }
        .header_right {
            width: 100%;
            height: 100%;
            background-color: #05090A;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 2;
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
            ul {
                display: flex;
                li {
                    margin-left: 58px;
                    list-style-type: none;  
                    a {
                        color: #8B8B8B;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px; 
                        text-decoration: none; 
                        text-transform: uppercase;
                        &:hover {
                            color: white;
                        }  
                    }        
                }
            }
        }
    }
    .header_panel {
        height: 100%;
        width: 15%;
        background-color: #05090A;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}