@media (max-width: 1439px) {
    .container {
        max-width: 1340px;
    }
    // .sidepanel {
    //     padding-top: 85px;
    //     padding-bottom: 85px;
    // }
}

@media (max-width: 1399px) {
    .container {
        max-width: 1240px;
    }
}

@media (max-width: 1299px) {
    .container {
        max-width: 1140px;
    }
}

// -----------------------------

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    header {
        height: 90px;
        .cl_header {
            .logo {
                img {
                    height: 45px;
                    width: 45px;
                    margin-right: 22px;
                }
                .happycars {
                    color: #8B8B8B;
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    header {
       .header_right {
            ul {
                li {
                    justify-content: space-between;
                    a {
                        font-size: 0;
                    }
                }
            }
       } 
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    header {
        .hamburger {
            display: flex;
        }
        .cl_header {
            .header_right {
                display: none;
            }
        }
    }
    .header_panel {
        display: none;
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    header {
        .hamburger {
            display: flex;
        }
        .cl_header {
            .header_right {
                display: none;
            }
        }
    }
    .header_panel {
        display: none;
    }
}